@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$backgroundColour: #f1eef7;
$secondColour: #59556d;

@mixin flex($direction) {
	display: flex;
	flex-direction: $direction;
	align-items: center;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}

.week,
.upcoming,
.work,
.today,
.project {
	// @include flex(column);
	min-height: 100vh;
	justify-content: center;
	font-size: 3rem;
	background-color: $backgroundColour;
	color: black;
	transition: padding-left 0.4s ease;
}

.sidebar-open {
	padding-left: 250px;
}

div.card {
	border-radius: 10px;
	border: 0.5px solid black;
	--bs-card-bg: $backgroundColour;

	.card-header {
		@include flex(row);
		border-bottom: 0;
		background-color: $backgroundColour;
		justify-content: space-between;
		height: 50px;
	}
	.left {
		@include flex(row);

		input[type='checkbox'] {
			transform: scale(1.4);
		}
	}

	.right {
		@extend .left;
		gap: 20px;

		.due-date,
		.priority {
			margin: 0;
		}

		.info-btn {
			border: 0;
			background-color: transparent;
		}
	}

	.card-header:first-child {
		border-radius: 10px;
	}
}

.description-content {
	font-size: 16px;
	display: flex;
	justify-content: space-between;

	p {
		margin-bottom: 0;
	}

	.project-name {
		display: flex;
		align-items: center;
		gap: 5px;
		background-color: $secondColour;
		padding: 5px 8px;
		color: white;
		border-radius: 10px;
	}
}

button#dropdown-basic-button {
	background-color: #d1cde6;
	border-color: #d1cde6;
	color: $secondColour;
	font-weight: 500;
}

img {
	width: 20px;
	height: 100%;
	display: flex;
}

svg {
	@extend img;
	cursor: pointer;
}

.dropdown > a > svg {
	color: black;
}

span {
	font-size: 16px;
}

.priority-title {
	color: $secondColour;
	font-weight: 500;
	font-size: 17px;
}

.flags {
	margin-top: 13px;
	display: flex;
	gap: 20px;

	.priority-container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.priority-flag {
		width: 30px;
	}

	.priority-subtitle {
		font-size: 16px;
		margin-bottom: 10px;
		color: $secondColour;
		text-decoration: underline;
		text-underline-offset: 3px;
		text-decoration-thickness: 1px;
		text-decoration-color: $secondColour;
	}

	.form-check-input[type='radio'] {
		width: 13px;
		height: 13px;
	}
}

.accordion {
	width: 60%;
	margin: 0 auto;
	padding-top: 0.7rem;
}

input[type='textarea'] {
	height: 50px;
	font-size: 0.9rem;
}

div.modal-content {
	background-color: $backgroundColour;
	max-width: 600px;
	margin: 0 auto;

	.modal-header {
		border-bottom: 0;
	}

	.modal-title {
		color: $secondColour;
	}

	.modal-footer {
		justify-content: space-between;
	}

	.form-label {
		@extend .priority-title;
	}

	.form-control {
		background-color: #d1cde6;
		border: none;

		// &:focus {
		// 	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
		// }
	}
}

.modal-footer-btns {
	display: flex;
	gap: 10px;
}

div.dropdown-menu {
	--bs-dropdown-link-hover-bg: #e2dfeb;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.12);
	border-radius: 10px;
	padding: 7px;
	background-color: $backgroundColour;
}

a.dropdown-item {
	background-color: $backgroundColour;
	padding: 10px;
	border-radius: 5px;
}

a.dropdown-item.active,
a.dropdown-item:active {
	color: inherit;
	background-color: #e2dfeb;
}

h1 {
	color: #59556d;
	padding: 1rem 1rem 1rem 17rem;
	display: flex;
	align-items: center;
	gap: 10px;
	font-size: 45px;

	.todos-length {
		font-size: 25px;
		padding: 0.7rem 1rem;
		border: 1px solid #59556d;
		border-radius: 10px;
	}
}
