$sidebarColour: #d1cde6;
$fontColour: #524f5f;
$backgroundColour: #f1eef7;

.navbar {
	background-color: #59556d;
	height: 100px;
	display: flex;
	justify-content: flex-start;
	align-items: center;

	button {
		outline: none;
		border: none;
		cursor: pointer;
	}
}

.menu-bars {
	margin-left: 2rem;
	font-size: 2rem;
	background: none;
	color: #000;
}

.nav-menu {
	background-color: $sidebarColour;
	width: 250px;
	height: 100vh;
	display: flex;
	justify-content: center;
	position: fixed;
	top: 0;
	left: -35%;
	transition: left 0.4s ease;
}

.nav-menu.active {
	left: 0;
}

h3.tasks-title,
h3.projects-title {
	text-transform: uppercase;
	font-size: 15px;
	padding-left: 16px;
	font-weight: 600;
	color: $fontColour;
}

.projects-title {
	margin-top: 25px;
}

.sidebar-data {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.left-sidebar-data {
	display: flex;
}

.nav-text {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 8px 0px 8px 8px;
	list-style: none;
	height: 60px;

	a {
		text-decoration: none;
		color: $fontColour;
		font-size: 18px;
		width: 95%;
		height: 100%;
		display: flex;
		align-items: center;
		padding: 0 16px;
		border-radius: 4px;
		justify-content: space-between;

		&:hover {
			background-color: #beb9d7;
		}
	}
}

.delete-btn {
	outline: none;
	border: 0;
	background-color: transparent;
	color: $fontColour;
}

.create-todo-btn {
	border: 0;
	background-color: #f1eef7;
	padding: 10px;
	border-radius: 8px;
	color: black;
	font-size: 16px;
	text-align: center;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	cursor: pointer;
	width: 160px;
	margin-right: 300px;

	&:active {
		transform: translateY(2px);
	}
}

ul.nav-menu-items {
	width: 100%;
	padding: 0;
}

.navbar-toggle {
	background-color: $sidebarColour;
	width: 100%;
	height: 80px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-left: -5px;
}

span {
	margin-left: 16px;
}

ul.categories {
	padding: 0;
}

.project-btn {
	text-decoration: none;
	color: $fontColour;
	font-size: 18px;
	width: 95%;
	height: 100%;
	display: flex;
	align-items: center;
	padding: 0 16px;
	border-radius: 4px;
	cursor: pointer;
	margin: 0;

	&:hover {
		background-color: #beb9d7;
	}
}

.priority-validation {
	color: #dc3545;
	font-size: 0.875em;
}
