$backgroundColour: #f1eef7;

h1 {
	color: #59556d;
	padding: 1rem 14rem;
	display: flex;
	align-items: center;
	gap: 10px;
	font-size: 45px;

	.todos-length {
		font-size: 25px;
		padding: 0.7rem 1rem;
		border: 1px solid #59556d;
		border-radius: 10px;
	}
}

div.dropdown-menu {
	--bs-dropdown-link-hover-bg: #e2dfeb;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.12);
	border-radius: 10px;
	padding: 7px;
	background-color: $backgroundColour;
}

a.dropdown-item {
	background-color: $backgroundColour;
	padding: 10px;
	border-radius: 5px;
}

a.dropdown-item.active,
a.dropdown-item:active {
	color: inherit;
	background-color: #e2dfeb;
}
